.ad_home {
 
    max-width: 80%;
}

.ad_home nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.ad_home nav h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #000000;
}

.ad_home nav span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.ad_home nav img {
    width: 40px;
}

.ad_cards {
    margin-bottom: 50px;
    color: black;
    display: flex;
    justify-content: center;

}

.ad-card {
    display: flex;
    background-color: #FFFFFF;
    flex-direction: column;
    align-items: center;
    border-left: 7px solid;
    width: 225px;
    height: 100px;
    border-radius: 14px;
    margin: 18px;
    box-shadow: 2px 4px 9px 0px #0000001A;
    box-shadow: 0px -2px 8px 0px #00000017;
    justify-content: space-between;
    padding: 30px 0;
}

.ad_home .ad_cards .ad-card p {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 600;
    line-height: 0px;
    letter-spacing: 0.02em;

}

h5 {
    font-family: 'Raleway';
    font-size: 35px;
    font-weight: 600;
    line-height: 0px;
    letter-spacing: 0.02em;
    margin-bottom: 40px;

}

.ad_card1 {
    border-left: 7px solid #000D7F;

    h5 {
        color: #000D7F;
    }
}

.ad_card2 {
    border-left: 7px solid #FCCA58;

    h5 {
        color: #FCCA58;
    }
}

.ad_card3 {
    border-left: 7px solid #10CC9B;

    h5 {
        color: #10CC9B;
    }
}

.ad_card4 {
    border-left: 7px solid #E96383;

    h5 {
        color: #E96383;
    }
}

.ad_home .chart-container {
    margin: 30px;
    width: 990px;
    padding: 20px;
    height: auto;
    border-radius: 8px;


}

.ad_home .chart-top {
    width: 100%;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.ad_home .chart-container .chart-top h3 {
    margin-top: -30px;
}
.ad_home .chart-cont .chart-name1{
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: 600;
    line-height: 25.83px;
    letter-spacing: 0.02em;
    text-align: left;
    position: absolute;
    left: 320px;
    top:880px;

  }
  .ad_home .chart-cont .chart-inner1{
    position: absolute;
    left: -130px;
    top: 20px;

      }

